@font-face {
    font-family: 'Gabriela';
    src: url(../fonts/Gabriela\ script.ttf);
    font-weight: 400;
}



header {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Gabriela';
    color: whitesmoke;
    font-size: 45px;
}

.menu_list {
    font-family: 'Gabriela';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
}

.menu_item:not(:last-child) {
    margin-right: 18px;
}

.resume1 {
    width: 20%;
}

.infa {
    color: #fff;
}

.resume2 {
    width: 30%;
}