@font-face {
    font-family: DancingScript-Bold;
    src: url(assets/fonts/DancingScript-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DancingScript-Medium;
    src: url(assets/fonts/DancingScript-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DancingScript-Regular;
    src: url(assets/fonts/DancingScript-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DancingScript-SemiBold;
    src: url(assets/fonts/DancingScript-Bold.ttf);
    font-weight: 400;
}


.header {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: DancingScript-SemiBold;
    color: #fff;
    font-size: 35px;
}

.menu_list {
    font-family: DancingScript-SemiBold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu_item:not(:last-child) {
    margin-right: 18px;
}